<% if notice %>
  <%= render 'notice' %>
<% end %>

<h1 class="mb-8">Posts</h1>

<% @posts.each do |post| %>
  <div class="border border-grey-light bg-white rounded p-4 mb-6 leading-normal shadow">
    <div class="mb-8">
      <p class="text-sm text-grey-dark">
        <%= post.name %>
      </p>
      <div class="text-black font-bold text-xl mb-2"><%= post.title %></div>
      <p class="text-grey-darker text-base"><%= post.content %></p>
    </div>
    <ul class="list-reset flex mt-6 justify-end">
      <li class="mr-6">
        <%= link_to 'Show', post, class: 'text-blue hover:text-blue-darker' %>
      </li>
      <li class="mr-6">
        <%= link_to 'Edit', edit_post_path(post), class: 'text-blue hover:text-blue-darker' %>
      </li>
      <li class="mr-6">
        <%= link_to 'Destroy', post, class: 'text-blue hover:text-blue-darker', 
                                     method: :delete, 
                                     data: { confirm: 'Are you sure?' } %>
      </li>
    </ul>
  </div>
<% end %>

<div class="text-center mt-6">
  <%= link_to 'New Post', 
              new_post_path, 
              class: 'bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded '+
                     'no-underline' %>  
</div>
