<% if notice %>
  <%= render 'notice' %>
<% end %>

<div class="mb-6">
  <p class="uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
    Name:
  </p>
  <p class="text-grey-darkest mb-3">
    <%= @post.name %>      
  </p>
</div>

<div class="mb-6">
  <p class="uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
    Title:
  </p>
  <p class="text-grey-darkest mb-3">
    <%= @post.title %>
  </p>      
</div>

<div class="mb-6">
  <p class="uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
    Content:
  </p>
  <p class="text-grey-darkest mb-3">
    <%= @post.content %>
  </p>      
</div>

<ul class="list-reset flex mt-6 justify-center">
  <li class="mr-6">
    <%= link_to 'Edit', edit_post_path(@post), class: 'text-blue hover:text-blue-darker' %>
  </li>
  <li class="mr-6">
    <%= link_to 'Back', posts_path, class: 'text-blue hover:text-blue-darker' %>
  </li>
</ul>