<!DOCTYPE html>
<html>
  <head>
    <title>TailwindRailsBlog</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div class="w-full max-w-md mx-auto p-4">
      <%= yield %>        
    </div>
  </body>
</html>
